@import "~antd/dist/antd.dark.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}

/* MAIN CONTAINER STYLES */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #000;
  background: #0d0d0d;
  padding: 0 20px !important;
}

.layout {
  margin-top: 60px;
}

.sider-left {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.sider-right {
  overflow: auto;
  height: 100vh;
  position: fixed;
  right: 0;
}

.content {
  margin-left: 200px;
  margin-right: 350px;
}

.container {
  padding: 2em 1.5em;
}

/* MOBILE DEVICES */
@media (max-width: 992px) {
  .sider-left {
    display: none;
  }
  .sider-right {
    display: none;
  }
  .content {
    margin-left: 1em;
    margin-right: 1em;
  }
  .container {
    padding: 2em 0em;
  }
}

/* MAIN CONTAINER STYLES */
